autostart
baloofileinformationrc
cat_installer
Code - OSS
dconf
discord
dolphinrc
Electron
.git
go
gtk-3.0
JetBrains
kde.org
kiorc
kitty
mimeapps.list
pavucontrol.ini
pulse
QtProject.conf
rofi
rofi-backup
session
spotify
systemd
trashrc
user-dirs.dirs
user-dirs.locale
yay
GitKraken
mako
rstudio
